

<div class="navbar flex justify-between   p-2 bg-zinc-200	">
  <div class="left-side bg-teal ">
    <ul class="flex space-x-3 ">
      @if(showLinks){


        <li  class="ms-3"><img src="../../assets/images/freshcart-logo.svg"></li>
        <li><a class="rounded" routerLink="home" routerLinkActive="bg-green-600" >{{"navbar.home" | translate}}</a></li>
        
        <li><a class="rounded" routerLink="product" routerLinkActive="bg-green-600">{{"navbar.Products" | translate}}</a></li>
        <li><a class="rounded" routerLink="brands" routerLinkActive="bg-green-600">{{"navbar.Prands" | translate}}</a></li>
        <li>
          <a  class="rounded" routerLink="categories" routerLinkActive="bg-green-600">{{"navbar.Categories" | translate}}</a>
        </li>
      }
    </ul>
  </div>
  <div class="right-side   ">
    <ul class="flex space-x-3">
      @if(!showLinks){
      
        <li><i class="fa-brands fa-facebook-f"></i></li>
        <li><i class="fa-brands fa-youtube"></i></li>
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-tiktok"></i></li>
        <li><i class="fa-brands fa-instagram"></i></li>
        <li ><a class="rounded" routerLink="register" routerLinkActive="bg-green-600">Register</a></li>
        <li ><a class="rounded p-1 me-3" routerLink="login" routerLinkActive="bg-green-600">log in</a></li>
      }
      @if(showLinks){
        <li class=" nav-item dropdown">
          
<a class="nav-link dropdown-toggle">
{{"navbar.language" | translate}}
</a>
<select>
<option class="dropdown-item" ><a class="dropdown-item" (click)="change('en')">En</a></option>
<option class="dropdown-item" ><a class="dropdown-item" (click)="change('ar')" >Ar</a></option>
</select>
            <!-- <select class="p-2 border rounded-md bg-green-600 text-whiteqa">
               <i class="fa-solid fa-angle-down"></i>
           
              <option >En</option>
              <option >Ar</option>
            </select> -->
         
          
        </li>
        <li ><a class="rounded " routerLink="cart" routerLinkActive="bg-green-600">
          <i class="fa-solid fa-cart-shopping text-2xl"></i>
        <span class="badge bg-green-600 p-1 text-white rounded-full ">{{cart_number}}</span>
        </a></li>

        <li class="fa-solid fa-user"  >{{loggedUserName}}</li>
        <li class="log-out rounded bg-green-600 p-2 flex justify-center align-middle me-3"  (click)="logOut()">{{"navbar.Log Out" | translate}}</li>
      }
    </ul>
  </div>
</div>
