<section>
  <h2 class="text-center text-5xl text-green-600 p-4 mb-16 mt-20">
    All Products
  </h2>
  <div class="md:container md:mx-auto grid grid-cols-6 gap-4">
    @for (product of boroductList | product : text; track product.id) {
    <div class="p-2 card">
      <div [routerLink]="['/details', product.id]">
        <img [src]="product.imageCover" [alt]="product.title" />
        <h3 class="lable-text">{{ product.category.name }}</h3>
        <h4>{{ product.title.split(" ", 2).join(" ") }}</h4>
        <div class="flex justify-between">
          <span>{{ product.price }} EGP</span>
          <div>
            @for (num of [1,2,3,4,5].slice(0 , product.ratingsAverage); track
            $index) {

            <span><i class="fas fa-star text-amber-400"></i></span>
            } @if (product.ratingsAverage % 1 !==0) {
            <span
              ><i class="fa-solid fa-star-half-stroke text-amber-400"></i
            ></span>
            }
            <span class="text-slate-500">{{ product.ratingsAverage }}</span>
          </div>
        </div>
      </div>
      <button
        class="rounded bg-green-600 w-full p-2 lable-text"
        (click)="addToCart(product.id)"
      >
        Add To Cart
      </button>
    </div>
    }
  </div>
</section>
