<section class="mt-16">
  <h2 class="text-5xl text-green-600 p-4 mb-3">Forget Password</h2>

  @if (step == 1) {

  <!-- verify email form -->
  <form [formGroup]="verifyEmail" class="bg-gray-200 p-8 rounded-md shadow-md" (ngSubmit)="verifyEmailSubmit()" >
    <div>
      <label for="email">email:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="rounded border w-full px-3 py-2 my-2 border-zinc-300"
      />
    </div>

    <button
      
      class="rounded bg-green-600 p-2 mt-5"
    >
      verify email
    </button>
  </form>

  } @else if (step == 2) {

  <!-- verify code form -->
  <form [formGroup]="verifycode" class="bg-gray-200 p-8 rounded-md shadow-md "  (ngSubmit)="verifyCodeSubmit()">
    <div>
      <label for="code">Code:</label>
      <input
        type="text"
        id="code"
        formControlName="resetCode"
        class="rounded border w-full px-3 py-2 my-2 border-zinc-300"
      />
    </div>

    <button
      
      class="rounded bg-green-600 p-2 mt-5"
    >
      verify code
    </button>
  </form>

  } @else if (step == 3) {

  <!-- // reset password form -->
  <form
    [formGroup]="resetPassword"
    class="bg-gray-200 p-8 rounded-md shadow-md" (ngSubmit)="verifyPasswordSubmit()"
  >
    <div>
      <label for="email">email:</label>
      <input readonly
        type="email"
        id="email"
        formControlName="email"
        class="rounded border w-full px-3 py-2 my-2 border-zinc-300"
      />

      <label for="password">New Password:</label>
      <input
        type="password"
        id="password"
        formControlName="newPassword"
        class="rounded border w-full px-3 py-2 my-2 border-zinc-300"
      />
    </div>

    <button
     
      class="rounded bg-green-600 p-2 mt-5"
    >
      verify password
    </button>
  </form>

  }
</section>
